.product{
    display:inline-flex ;
    border: 2px solid black;
    /* border-bottom: 1px solid rgb(180, 61, 61); */
    /* margin-bottom: 5px; */
    margin: 10px 40px;
    /* padding-bottom: 5px; */
    height:max-content  ;
}
.prod{
    width: 100%;
}
.prod h5{

    color: rgba(216, 58, 10, 0.959);
    font-weight: 400;

}

.main-button{
    background-color: rgb(78, 110, 196);
    width: 150px;
    height:fit-content  ;
    border: 1px solid darkgray;
    border-radius: 5px;
    cursor: pointer;
    align-items:center;
}

img{
    height: 250px;
    width: 180px;
}